body{
    font-family: sans-serif;
    margin: 0;
    background-color: khaki;
}
header{
    display: flex;
    min-height: 70px;
    background-color:khaki;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    margin: 0;
    border: 0;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
img{
    display: block;
    width: 40%;
    margin: auto;
}
li, ul{
    list-style: none;
    display: inline;
}
.navegacion{
    margin: auto;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    display: inline-block;
    position: relative;
}

.menu > li > a{
    display: block;
    margin: 0%;
    color: #353535;
    text-decoration: none;
}
.menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
}
.submenu{
    position: absolute;
    display: block;
    margin: 0%;
    padding: 20%;
    background: grey;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a{
    display: inline;
   
    color: #353535;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 50px;
    background-color:rgb(189, 123, 250);
    justify-content: space-around;
    padding-left: 70px;
    margin: 0;
    border: 0;
}

h2{
    display: block;
    margin-left: 30px;
}
.r{
    display: inline-block;
    width: 20%;
    margin: auto;
}
@media (max-width:700px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
footer{
    display: inline;
    text-align: center;
}